h1 {
  color: red;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  cursor: pointer;
  user-select: unset;
  border: 1px solid #ccc;
  padding: 10px 0;
  margin-top: 3px;
}

li label {
  cursor: pointer;
  user-select: unset;
}

.btn {
  min-width: 80px;
  height: 30px;
  background-color: bisque;
  border: 1px solid #ccc;
  cursor: pointer;
  border-radius: 4px;
}

.btn:hover {
  background-color: blanchedalmond;
}

.btn + .btn {
  margin-left: 8px;
}

.btn-active {
  border-color: red;
}

.action-bar {
  margin-top: 8px;
}

.item-left-panel {
  margin-right: 8px;
  height: 30px;
  vertical-align: middle;
  padding-left: 10px;
}
